body {
    font-family: 'Merriweather', serif;
    color: #fff;
}

.container {
  display:flex;
  flex-direction: column;
  background-color: gray;
  border: 5px;
  padding:10px;
  margin:10px;
  width: 100%;
  height: 100%;
}

/* Navigation Styles*/
.navbar__menu {
    position: fixed;
    width: 100%;
    z-index: 10;
    top:0;
    left: 0;
    background:black;
}

#navList {
  color:white;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.header {
 display:grid;
 grid-template-columns: repeat(4,1fr);
 grid-template-rows:  auto auto auto auto;
 background-image: url(../images/heroimage.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.name {
  grid-column: 1/4;
  grid-row:2/3; /* 1*/
  font-size: 80px;
  text-align: center;
  color: white;
}

.profession {
  grid-column: 1/4;
  grid-row:3/4; /* 2 */
  font-size: 2em;
  text-align: center;
  color: white;
}

.profilePicture {
   grid-column: 4;
   grid-row:3; /*1/3 */
  background-size:cover;
  width: 250px;
  height: 250px;
  border-radius: 80%;
  background-color: pink;
  margin-bottom: 20px;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #555;
}

section {
    margin-top: 5vh; /*15vh */
    padding: 10px; /*20px */
    position: relative;
    min-height: 50vh;/*80vh */
    color: black;
}

/* Section Active Styles */
section.activeSection {
    background-color: #b5a7a7;
}

.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-template-areas:
  "p1 p1 p2 p2"
  "p3 p3 p4 p4";
  justify-content: center;
}

/*.thesis{

    grid-area: p1;
    background-color: rgb(46, 46, 49);
    /*background-image: url(../IMAGES/thesis.jpg);
    background-size: cover;
    width:80%;
    height:50%;
    border-radius: 60px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    text-decoration: underline;

}
.research{
    grid-area: p2;
    background-color: rgb(46, 46, 49);
   /*background-image: url(../IMAGES/research.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    width:80%;
    height:50%;
    border-radius: 60px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    text-decoration: underline;
}
.major{
    grid-area: p3;
    background-color: rgb(46, 46, 49);
    /*background-image: url(../IMAGES/group.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    width:80%;
    height:50%;
    border-radius: 60px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    text-decoration: underline;

}
.miniproject{
    grid-area: p4;
    background-color: rgb(46, 46, 49);
    width:80%;
    height:50%;
    border-radius: 60px;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    text-decoration: underline;
}*/
.thesis {
  grid-area: p1;
 text-align: center;
}

.work {
    grid-area: p2;
    text-align: center;
}

.major {
    grid-area: p3;
    text-align: center;
}

.mini {
    grid-area: p4;
    text-align: center;
}

.project {
  margin: 5px;
  padding: 5px;
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 20px ;
}

li {
  list-style:none;
}

h4 {
  text-decoration:underline;
}

.hobbies {
  padding: 50px;
  display:flex;
  justify-content: space-between;
}

footer {
  background-color: black;
  padding:10px;
  display:inline-inline-block;
}

.faviconLink {
  color: white;
}

.footicons {
  display:flex;
  justify-content:space-around;
}

.copy {
  text-align: center;
  bottom: 0;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 2px;
}

/* adding media queries for differenct screens */
/*mobile*/
@media only screen and (max-width: 700px) {
  .header {
   display:flex;
   flex-direction: column;
   background-image: url(../images/heroimage.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }
  .hobbies {
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
/* adding media query for tab */
@media only screen and (max-width: 900px) and (min-width:701px) {
  .header {
   display:flex;
   flex-direction: column;
   background-image: url(../images/heroimage.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   align-items: center;
  }
  .projects {
    display: flex;
    flex-direction: column;
  }

}
